{% load static %}
<aside class="sidebar" id="sidebar">
    <div class="sidebar-content">
        <nav class="nav-menu">
            <a href="{% url 'dashboard_agricultor' %}" class="nav-item" data-page="dashboard">
                <i class="fas fa-home"></i>
                <span>Página Inicial</span>
            </a>
        
        <div class="sidebar-footer">
            <div class="seapac-logo">
                <a target="_blank" href="https://seapac.org.br"><img src="{% static 'img/logo-seapac.png' %}" alt="SEAPAC Logo" height="40" width="40"></a>
                <a target="_blank" href="https://portal.ifrn.edu.br/campus/paudosferros"><img src="{% static 'img/logo-ifrn.png' %}" alt="IFRN Logo" height="35" width="25"></a>
            </div>
        </div>
    </div>
</aside>