{% extends 'base.html' %}
{% load static %}

{% block extra_head %}

    <link rel="stylesheet" href="{% static 'css/formflow.css' %}">

{% endblock extra_head %}

{% block extra_js %}
{{ block.super }}
<script>

    const container = document.getElementById('produtos-container');
    const btnAdicionar = document.getElementById('btn-adicionar-produto');
    const produtosInput = document.getElementById('id_produtos_base');

    function adicionarProduto(nome='', indice = null) {

        if (indice === null) {
            indice = document.querySelectorAll('.produto-item').length;
        }

        const produto = document.createElement('div');

        produto.classList.add('produto-item');

        produto.innerHTML = 
            `<div class='produto-campos'>
                <input type="text" class="form-control produto-nome" placeholder="Nome do Produto" value="${nome}">
                <small class='info-image-product'>Insira uma imagem formato <strong>.svg</strong></small>
                <input type="file" name='foto_produto_${indice}' class="form-control produto-foto" accept=".svg, .png">
            </div>

                <button type="button" class="btn btn-danger btn-remover-produto">Remover</button>`;
        
        container.appendChild(produto)

        produto.querySelector('.btn-remover-produto').addEventListener('click', function () {
            produto.remove();
            atualizarProdutos();
        })
        produto.querySelector('.produto-nome').addEventListener('input', atualizarProdutos);
    }

    function atualizarProdutos() {
        const produtos = []

        document.querySelectorAll('.produto-item').forEach(element => {
            const nome = element.querySelector('.produto-nome').value.trim();
            const indiceFoto = element.querySelector('.produto-foto').name.replace('foto_produto_', '')

            if (nome) {
                produtos.push({
                    nome: nome,
                    foto_indice: indiceFoto,
                    fluxos: []
                });
            }
        });
        produtosInput.value = JSON.stringify(produtos);
    }

    btnAdicionar.addEventListener(
        'click', function () {
            adicionarProduto();
        }
    );

    adicionarProduto()

</script>
{% endblock extra_js %}

{% block center %}

<div class="container py-4" style="max-width: 850px;">

    <form method="post" enctype="multipart/form-data" class="card shadow-sm border-0 bg-white">

        <div class="card-header bg-success text-white rounded-top">
            <h4 class="mb-0"><i class="fa-solid fa-layer-group"></i> {{ title }}</h4>
        </div>

        <div class="card-body">

            {% csrf_token %}

            {% if form.errors %}
                <div class="alert alert-danger border-danger-subtle" role="alert">
                    <strong>Erros encontrados:</strong>
                    <ul class="mt-2 mb-0">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li><b>{{ field.label }}:</b> {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <h5 class="text-success border-bottom pb-2 mb-4">Informações sobre o Subsistema</h5>

            <div class="row g-4">

                <div class="col-md-8">
                    <label class="form-label">Nome do Subsistema</label>
                    {{ form.nome_subsistema }}
                </div>

                <div class="col-md-4">
                    <label class="form-label">Tipo (TS, SS ou ME)</label>
                    {{ form.tipo }}
                </div>

                <div class="col-12">
                    <label class="form-label">Descrição</label>
                    {{ form.descricao }}
                </div>

                <div class="col-md-6">
                    <label class="form-label">Foto do Subsistema</label>
                    {{ form.foto_subsistema }}
                    {% if form.instance and form.instance.foto_subsistema %}
                        <div class="mt-2">
                            <img src="{{ form.instance.foto_subsistema.url }}" alt="Foto atual" class="img-thumbnail" style="max-width:160px;">
                        </div>
                    {% endif %}
                </div>

            </div>
            
            <br>

            <h5 class="text-success border-bottom pb-2 mb-4">Informações sobre o Produtos</h5>

            <div form-group-products>
                <p>Produtos Base</p>

                {{ form.produtos_base }}

                <div id="produtos-container"></div>

                <button type="button" id="btn-adicionar-produto" class="btn btn-success">+ Adicionar produto</button>
            </div>

            <div class="d-flex justify-content-end gap-3 mt-4 pt-3 border-top">

                <button class="btn btn-success d-flex align-items-center gap-2 px-4" type="submit">
                    <i class="bi bi-floppy"></i>
                    Salvar
                </button>

                <a href="{% url 'list_subsystems' %}" class="btn btn-danger d-flex align-items-center gap-2 px-4">
                    <i class="bi bi-x-lg"></i>
                    Cancelar
                </a>

            </div>

        </div>
    </form>
</div>

{% endblock %}
