{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/timeline_pdf.css' %}">
</head>
<body>
    
    <div class="flow-header-main">
        <h1 class='title'>{% block title %}Linha do tempo{% endblock title %}</h1>
        <h2 class="name-family">{{ family.get_nome_familia }}</h2>
    </div>

    {% if events %}
        <div class="sandbox" id="sandbox">
    
            <div class="titles">
                <h3>Interno</h3>
                <h3>Externo</h3>
            </div>
            <div class="events">
    
                {% regroup events by data as anos %}

                {% for ano in anos %}

                <div class="timeline-years">
                    <h4 class="year">{{ ano.grouper }}</h4>
                    
                    <div class="year-events">
                        {% for evento in ano.list %}
                            {% if evento.secao == 'mundo-interno' %}
            
                            <div class="timeline-event event-left">
            
                                <div class="evento-info">
                                    <h3 class="title-section">{{ evento.get_secao_display }}</h3>
                                    <h5>{{ evento.titulo }}</h5>
                                    <p>{{ evento.descricao }}</p>
                                </div>
            
                            </div>
            
                            {% else %}
            
                            <div class="timeline-event event-right">
            
                                <div class="evento-info">
                                    <h3 class="title-section">{{ evento.get_secao_display }}</h3>
                                    <h5>{{ evento.titulo }}</h5>
                                    <p>{{ evento.descricao }}</p>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="no-event">
            <i class="fas fa-search"></i>
            <h3>Nenhum evento registrado</h3>
        </div>
    {% endif %}
    
</body>
</html>
