{% extends 'base.html' %}
{% load static %}

{% block extra_head %}

    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">

{% endblock extra_head %}

{% block center %}

<a href="{% url 'dashboard' %}" class="btn-voltar-page">
    <span class="material-symbols-outlined">arrow_back</span>
    Voltar
</a>

<div class="flow-header">
    <div class="flow-header-main">
        <h1 class='title'>{% block title %}{{ title }}{% endblock title %}</h1>
        <h2 class="name-family">{{ family.get_nome_familia }}</h2>
    </div>
    <div class='search-timeline'>
<!--        
        <form method="POST" action="{% url 'search_timeline_event' family.id %}">
            {% csrf_token %}
            <input type="text" name="termo" placeholder="Buscar título..." style="padding: 5px;">
            <button type="submit" class="btn btn-primary" style="margin-bottom: 3px;">Editar Evento</button>
        </form>
-->
        <a href="{% url 'add_timeline' family.id %}" class="btn btn-primary">+ Adicionar Marco Histórico</a>
        <a href="{% url 'pdf_timeline' family.id %}" class="btn btn-primary">Gerar PDF</a>
    </div>
    {% if events %}
        <div class="sandbox" id="sandbox">

            <div class="titles">
                <h3>Interno</h3>
                <h3>Externo</h3>
            </div>
            <div class="events">

                {% for evento in events %}

                    {% ifchanged evento.data %}
                        <h4 class="year">{{ evento.data }}</h4>
                    {% endifchanged %}

                    {% if evento.secao == 'mundo-interno' %}

                    <div class="timeline-event event-left">
                        <div class="buttons-timeline edit-event-out-left">

                            <form action="{% url 'delete_timeline' family.id evento.id %}" method="post" onsubmit="return confirmDelete(event, this)">
                                {% csrf_token %}
                                <button type="submit" class="delete-btn">
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </form>

                            <a href="{% url 'edit_timeline' family.id evento.id %}">
                                <span class="material-symbols-outlined">edit</span>
                            </a>

                        </div>

                        <div class="evento-info">
                            <h3 class="title-section">{{ evento.get_secao_display }}</h3>
                            <h5>{{ evento.titulo }}</h5>
                            <p>{{ evento.descricao }}</p>
                        </div>

                        <div class="buttons-timeline">
                            <form action="{% url 'delete_timeline' family.id evento.id %}" method="post" onsubmit="return confirmDelete(event, this)" class="delete-event">
                                {% csrf_token %}
                                <button type="submit" class="delete-btn">
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </form>
                            
                            <a href="{% url 'edit_timeline' family.id evento.id %}" class="edit-event">
                                <span class="material-symbols-outlined">edit</span>
                            </a>
                        </div>

                    </div>

                    {% else %}

                    <div class="timeline-event event-right">
                        <div class="buttons-timeline edit-event-out-right">
                            <form action="{% url 'delete_timeline' family.id evento.id %}" method="post" onsubmit="return confirmDelete(event, this)">
                                {% csrf_token %}
                                <button type="submit" class="delete-btn">
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </form>

                            <a href="{% url 'edit_timeline' family.id evento.id %}">
                                <span class="material-symbols-outlined">edit</span>
                            </a>
                        </div>

                        <div class="evento-info">
                            <h3 class="title-section">{{ evento.get_secao_display }}</h3>
                            <h5>{{ evento.titulo }}</h5>
                            <p>{{ evento.descricao }}</p>
                        </div>

                        <div class="buttons-timeline">
                            <form action="{% url 'delete_timeline' family.id evento.id %}" method="post" onsubmit="return confirmDelete(event, this)" class="delete-event">
                                {% csrf_token %}
                                <button type="submit" class="delete-btn">
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </form>

                            <a href="{% url 'edit_timeline' family.id evento.id %}" class="edit-event">
                                <span class="material-symbols-outlined">edit</span>
                            </a>
                        </div>

                    </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="no-event">
            <i class="fas fa-search"></i>
            <h3>Nenhum evento registrado</h3>
        </div>
    {% endif %}
</div>

<!--
<div class="sandbox" id="sandbox">
    {% load mermaid %}
    {% startmermaid %}
        {{ conteudo_mermaid|safe }}
    {% endmermaid %}
</div>
-->



{% endblock %}